
[tool.black]
line-length = 120
target-version = ['py310']
include = '\.pyi?$'
exclude = '''
^/(
  (
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | _build
    | dev-venv
    | build
    | dist
  )/
  | foo.py           # also separately exclude a file named foo.py in
                     # the root of the project
)
'''

[tool.isort]
profile = "black"
multi_line_output = 3
line_length = 88
include_trailing_comma = true

[tool.coverage.report]
show_missing = true
exclude_lines = [
  "def __repr__"
]

[tool.coverage.run]
branch = false
omit=[
  "tests/*"
]

[tool.mypy]
python_version = "3.10"
warn_unused_configs = true
plugins = "pydantic.mypy"
